<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotshare">

    <uses-permission android:name="android.permission.ACCES_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCES_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/map_key"></meta-data>
        <activity
            android:name=".view.activities.StudentRoomActivity"
            android:theme="@style/AppTheme"
            android:label="@string/student_room_single"
            android:parentActivityName=".view.activities.MainActivity">
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".view.activities.LoginActivity" android:theme="@style/AppTheme.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>